{% spaceless %}
<!DOCTYPE hmtl>
<html>
<head>
    <title>User cart</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>
{# Flashes ? #}
{% block content %}{% endblock content %}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>
{% endspaceless %}