{% extends 'EkynaCartBundle::layout.html.twig' %}

{% block cart %}

    <p>Order num : {{ order.number }}</p>
    <p>Status : {{ ('ekyna_order.order.state.' ~ order.state)|trans }}</p>

    {#
        TODO
        * payment status message
    #}

{% endblock cart %}