{% extends '::base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        {{ cms_title() }}
        {{ cms_content() }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a href="{{ path('ekyna_cart_payment') }}">Choix du mode paiement</a>
    </div>
</div>
{% endblock body %}