{% extends "EkynaCoreBundle:Form:form_div_layout.html.twig" %}

{% block radio_widget %}
{% spaceless %}
<div class="panel panel-default">
    <label class="panel-body">
        <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        {{ render_address(value) }}
    </label>
</div>
{% endspaceless %}
{% endblock radio_widget %}